h1{color:rgb(48, 59, 79);
    background-color:liner-gradient(0.25turn,blue,white);
    background-color: #faf6d8;}
    body{background-color: rgb(218, 226, 255);}
    h3{color: rgb(122, 0, 53);}
    ul{color: #232323;}
    p{color:rgb(31, 66, 130);}