h1{color:rgb(14, 40, 85);
background-color:liner-gradient(0.25turn,blue,white);
background-color: #a8d4fd}
body{background-color: rgb(222, 251, 255);}
h2{color: rgb(40, 46, 46);
}
h3{color: rgb(54, 59, 59);}
p{color: navy;}
